<html>
  <head>
    <title>{{title}}</title>
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <h1>{{title}}</h1>
    <h3>Portfolio</h3>
    <h2>
      GitHub Activity
    </h2>
    {{#each activities}}

      <p>

        {{this.repo.name}}

        -
        {{this.type}}
        -
        {{this.payload.action}}
        {{this.payload.ref}}
      </p>
      <hr />

    {{/each}}
  </body>
</html>